<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Beavs Airlines</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <nav class='navbar'>
            <a href='index.html'>Go Beavs!</a>
            <ul class='navlist'>
                <li><a href='flightCrew.html'>Flight Crew</a><li>
                <li><a href='flightPassenger.html'>Flight Passengers</a></li>
                <li><a href='airports.html'>Airports</a></li>
                <li><a href='passengers.html'>Passengers</a></li>
                <li><a href='crew.html'>Crew Members</a></li>
                <li><a href='flights.html'>Flights</a></li>
            </ul>
        </nav>

        {{{ body }}}
    
    </body>
</html>