<video width="100%" height="auto" autoplay muted loop>
        <source src="aerial.mp4" type="video/mp4">
</video>

<div class="body-section">

        <!-- Referenced: https://www.freecodecamp.org/news/build-an-accordion-menu-using-html-css-and-javascript/ -->
        <div class="accordion-body">
                <div class="accordion">
                        <h1>Our Entities</h1>

                        <hr>

                        <div class="container">
                                <div class="label">Flights</div>
                                <div class="content">If you’d like to take a look at our upcoming flights click on "Flights" and we’ll redirect you to our flight page. <br><br> Here you’ll be able to add upcoming flights, modify existing flights, and remove flights.</div>
                        </div>

                        <hr>

                        <div class="container">
                                <div class="label">Crew Members</div>
                                <div class="content">If you’d like to take a look at our crew members click on "Crew Members" and we’ll redirect you to our crew member page. <br><br> Here you’ll be able to add new employees, update existing employee data, and fire employees if needed.</div>
                        </div>

                        <hr>

                        <div class="container">
                                <div class="label">Passengers</div>
                                <div class="content">If you’d like to take a look at our passenger list click on "Passengers" and we’ll redirect you to our passenger page. <br><br> Here you’ll be able to add passengers, change passenger information, or remove passengers.</div>
                        </div>

                        <hr>

                        <div class="container">
                                <div class="label">Airports</div>
                                <div class="content">If you’d like to take a look at the <strong><em>MANY</em></strong> airports we service click on "Airports" and we’ll redirect you to our partnered airports page. <br><br> Here you’ll be able to add new airports, update airport information, and remove airports.</div>
                        </div>

                        <hr>

                </div>
        </div>

        <main id="project-description">

                <p>
                        Our client, Beaver Airlines, has contracted us to create a website with a database backend 
                        to help them manage all the data associated with their organization. Beaver airlines operates
                        25 flights per day out of 6 different airports. They also have 150 crew members in their 
                        employ. Each flight can have up to 100 passengers on it, and no flight will operate if there 
                        are less than 40 passengers on it. Therefore, for any given day of operation, Beaver Airlines 
                        could have 1000 – 2500 passengers across all flights.
                </p>

                <p>
                        As of right now, the airline does not have an easy way to record and view critical data 
                        related to their operations, such as their flights, crew members, passengers, or airports. 
                        They have hired us to make a system that organizes this information for them so they can 
                        improve their operational efficiency. 
                </p>

        </main>

</div>

<div class="pictures">
        <h1>Entity Relationship Diagram:</h1>
        <img src="AirlineERDiagram.drawio.png">
</div>

<div class="pictures">
        <h1>Schema</h1>
        <img src="schema.png">
</div>