<p id='intro-paragraph'>
        Beaver airlines
        operates 25 flights per day out of 6 different airports. They also have 150 crew members in
        their employ. Each flight can have up to 100 passengers on it, and no flight will operate if
        there are less than 40 passengers on it. Therefore, for any given day of operation, Beaver
        Airlines could have 1000 – 2500 passengers across all flights.
</p>