</table>

<section class='crud'>
    <div class='options'>
        <form class='create'>
            <h1>Add a Flight Crew Member</h1>
            <div>
                <label for='flightID'>Pick which flight you'd like to add a new passenger</label>
                <select name='flightID' id="flightID-add-select">
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                    <option value='6'>6</option>
                </select>
            </div>
            <div>
                <label for='passengerID'>Pick which crew member you'd like to add to the flight</label>
                <select name='passengerID' id="employeeID-add-select">
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                    <option value='6'>6</option>
                </select>
            </div>
            <button type="button" onclick="add_flightcrew_record()">Add</button>
        </form>
        <form class='update'>
            <h1>Update a Flight Passenger</h1>
            <div>
                <label for='pickFlightCrewID'>Please pick which flight and crew member you'd like to update</label>
                <select name='pickFlightCrewID' id="flightID-update-select">
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                    <option value='6'>6</option>
                </select>
                <select name='pickFlightCrewID' id="employeeID-update-select">
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                    <option value='6'>6</option>
                </select>
            </div>
            <div>
                <label for='pickFlightCrewID'>Please select the new flightID and/or employeeID for this record</label>
                <select name='pickFlightCrewID' id="flightID-new-value-update-select">
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                    <option value='6'>6</option>
                </select>
                <select name='pickFlightCrewID' id="employeeID-new-value-update-select">
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                    <option value='6'>6</option>
                </select>
            </div>
            <button type="button" onclick="update_flightcrew_record()">Update</button>
        </form>
        <form class='delete'>
            <h1>Pick which flight and crew member you'd like to remove</h1>
            <div>
                <label for='deleteFlightCrew'>Please pick which flight and crew member you'd like to remove</label>
                <select name='deleteFlightCrew' id="flightID-delete-select">
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                    <option value='6'>6</option>
                </select>
                <select name='deleteFlightCrew' id="employeeID-delete-select">
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                    <option value='6'>6</option>
                </select>
            </div>
            <button type="button" id="delete-button" onclick="delete_crew_member()">Delete</button>
        </form>
    </div>
  </section>

</body>
</html>