</table>

<section class='crud'>
    <div class='options'>
        <form class='create'>
            <h1>Add a Flight Crew Member</h1>
            <div>
                <label for='flightID'>Pick which flight you'd like to add a new passenger</label>
                <select name='flightID'>
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                    <option value='6'>6</option>
                </select>
            </div>
            <div>
                <label for='passengerID'>Pick which crew member you'd like to add to the flight</label>
                <select name='passengerID'>
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                    <option value='6'>6</option>
                </select>
            </div>
            <div>
                <label for='firstName'>Enter their first name</label>
                <input name="firstName"></input>
            </div>
            <div>
                <label for='lastName'>Enter their last name</label>
                <input name="lastName"></input>
            </div>
            <button type="submit">Add</button>
        </form>
        <form class='update'>
            <h1>Update a Flight Passenger</h1>
            <div>
                <label for='pickFlightCrewID'>Please pick which flight and crew member you'd like to update</label>
                <select name='pickFlightCrewID'>
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                    <option value='6'>6</option>
                </select>
                <select name='pickFlightCrewID'>
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                    <option value='6'>6</option>
                </select>
            </div>
            <div>
                <label for='firstName'>Update their first name</label>
                <input name="firstName"></input>
            </div>
            <div>
                <label for='lastName'>Update their last name</label>
                <input name="lastName"></input>
            </div>
            <button type="submit">Update</button>
        </form>
        <form class='delete'>
            <h1>Pick which flight and crew member you'd like to remove</h1>
            <div>
                <label for='deleteFlightCrew'>Please pick which flight and crew member you'd like to remove</label>
                <select name='deleteFlightCrew'>
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                    <option value='6'>6</option>
                </select>
                <select name='deleteFlightCrew'>
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                    <option value='6'>6</option>
                </select>
            </div>
            <button type="submit">Delete</button>
        </form>
    </div>
  </section>

</body>
</html>