<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Beavs Airlines</title>
    <link rel="stylesheet" href="/style.css">
    <!-- <script src="index.js"></script> -->
    <script src="/delete_flightCrew.js"></script>
  </head>
  <body>

    <nav class='navbar'>
        <a href='index.html'>Go Beavs!</a>
        <ul class='navlist'>
            <!-- <li><a href='flightCrew.html'>Flight Crew</a><li>
            <li><a href='flightPassenger.html'>Flight Passengers</a></li> -->
            <li><a href='airports.html'>Airports</a></li>
            <li><a href=passengers.html>Passengers</a></li>
            <li><a href='crew.html'>Crew Members</a></li>
            <li><a href='flights.html'>Flights</a></li>
        </ul>
    </nav>

    <button onclick="window.history.back()" id="back-button">Click here to go back</button>

    <h1 style="margin-left: 50vw; transform: translateX(-25%);">Flight Crew Members</h1>

    <table>
        <tr>
            <th>flightID</th>
            <th>employeeID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>